{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Hello !
{% endblock%}



{% block content %}





<h2>Simple Form</h2>
	{{ wtf.quick_form(form,action="/",form_type="inline",horizontal_columns=('lg', 20, 20)) }}
	<script type=text/javascript src="{{ url_for('static', filename='hello.js') }}"></script>
<button type="button" class="btn btn-default" onclick="get_random_article()">Random</button>
<br/>

<div id="divFilename" style="display: none">
{{filename}}
</div>
<div id="sse">

</div>




{% if message %}



<div>
{{message}}
<script src="{{ url_for('static', filename='hello.js') }}" onload="retrieveData()">
</script>
</div>


{% endif%}

<div id="myDiv">
</div>
<p>
<ul class="list-group" id="article-list">

</ul>

<br/>
<!-- <button type="button" class="btn btn-default" onclick="loadTime();">Test button</button> -->


</p>

{% endblock %}

