{% extends "bootstrap/base.html" %}

{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='webs.js') }}"></script>

<div class="container">
	
	<div class="row">
		<div class="col-md-12">
			<h2>Search for Philosophy !</h2>
		</div>
	</div>
	


	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8">
			<input id="article" type="text" class="form-control" placeholder="Article to search">
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary" onclick="retrievePhilosophy()">Search</button>
			<button type="button" class="btn btn-warning" onclick="retrievePhilosophy(true)">Random</button>	
		</div>
			
				
	</div>

	<p id="number"></p>
	<div class="row">
		<div class="col-sm-8 col-md-4">
			<ul class="list-group" id="article-list">

			</ul>
		</div>
	</div>
	

</div>




{% endblock%}

